<section>
  <header>
    <p class="salute">Welcome, wanderer!</p>
    <div class="info">
      <p>If you want to test the API documentation, please use this link:
        <button>
          <a
            href="https://demo-gmlh.onrender.com/docs/"
            target="_blank"
          >E-Comm-Bn</a>
        </button>
      </p>
    </div>
  </header>

  <img src="https://media.giphy.com/media/BpGWitbFZflfSUYuZ9/giphy.gif" />
</section>